.description{

    &__container{
        padding:  0 8.5rem;
        padding-bottom: 10rem;
        position: relative;
        @media only screen and (max-width: $bp-med) {
            padding: 0 4rem;
            padding-bottom: 10rem;
        }  
        @media only screen and (max-width: $bp-less) {
            padding: 0 3rem;
            padding-bottom: 10rem;
            
         }
    }
    &__content {
  display: flex;
  @media only screen and (max-width: $bp-medium) {
    display: block;
}
    }
    &__rotate {
        @media only screen and (max-width: $bp-large) {
            margin-bottom: 2rem;
         }
    }
  &__details {
        flex: 1 0 0;
        margin-left: -3rem;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: $bp-medium) {
            margin-left: 0;
        }
    }
   &__text {
       margin-bottom: 4rem;
   
   }
   &__icon {
    @media only screen and (max-width: $bp-smallest) {
       flex: 0 0 18%;
    }
   }
   &__item{
       display: flex;
       align-items: center;
       justify-content: space-between;
       @media only screen and (max-width: $bp-smallest) {
        align-items: flex-start;
        flex-wrap: wrap;
    }

       &:not(:last-child) {
        margin-bottom: 5rem;
        @media only screen and (max-width: $bp-less) {
            margin-bottom: 7rem;
        }
       }
   }
   &__text2 {
         margin: 0 5rem;
         @media only screen and (max-width: $bp-smallest) {
            margin: 0;
        }

    p {
       font-size: 2rem;
    }
   }
   &__text3 {
    

p {
  font-size: 2rem;
}
}
   &__img {

    height: 100%;
   /* width: 100%; */
   width: 15rem;
   object-fit: cover;
   display: block;
   @media only screen and (max-width: $bp-smallest) {
    width: 100%;
    
}
   }

   &__image {
    position: absolute;
    left: 0;  
    top: -10rem;
    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
img {
       width: 17rem; 
       height: 100%;
       object-fit: cover; 
       }
   }

   &__btn {
      
      
   }
   &__flex {
       display: flex;
       @media only screen and (max-width: $bp-small) {
       flex-direction: column;
    }
      
       &:not(:last-child) {
        margin-bottom: 5rem;
        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 0;
         }
       }
   }
   &__info {
    flex: 0 0 48%;
       margin-top: 3rem;
       &:not(:last-child) {
           margin-right: 3rem;
           @media only screen and (max-width: $bp-small) {
            margin-right: 0;
         }
       }
    //    display: flex;

   }
}
.heading-3 {
    font-size: 2rem;
    font-weight: bold;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: 100% 0;
    @media only screen and (max-width: $bp-medium) {
        transform: translateX(0) rotate(0);
    }
    
}
.heading-1{
    font-size: 4rem;
}
.heading-4{
    font-size: 3rem;
}
.paragraph{
    font-size: 2.2rem;
}

.btn-icon{
    height: 4rem;
    width: 4rem;
    position: relative;
    display: block;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 100%;
        transform: rotate(45deg);
        background-color: #98ade9;
        display: block;
        transition: border-radius .3s ease;

    }
    &:hover::before {
        border-radius: 0;
    }
    span {
       
        &::before {
            content: "";
            height: .2rem;
            width: 4rem;
            position: absolute;
            display: inline-block;
            background-color: $color-primary;
            left: 0;
            transform: translate(-50%, -50%);
            top: 50%;
            transition: all .3s ease;
        }
        &::after {
            content: "";
            height: 0;
            width: .2rem;
            position: absolute;
            display: inline-block;
            background-color: $color-primary;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
             transition: height .3s ease;
        }
    }
    &:hover span::before {
        left: 50%;
        width: 2rem;
    }
    &:hover span::after {
        height: 2rem;
    }

    &--coral {
         &::before {
            background-color: #8bd4c2;
         }
    }
    &--pink {
        &::before {
           background-color: #ffb8b0;
        }
   }
   }
   .paragraph {
       margin-bottom: 2rem;
   }