.description2 {
    border-top: 3px solid $color-primary;
    margin: 0 7rem;
    @media only screen and (max-width: $bp-med) {
        margin: 0 3rem;
    }
    
    &__container{
        
        margin: 0 7rem;
        
       padding: 10rem 0;
       display: flex;
       flex-direction: column;
       @media only screen and (max-width: $bp-med) {
        margin: 0 ;  
    }
      
    // &::before {
    //     content: "";
    //     width: 100%;
    //     height: .3rem;
    //     position: absolute;
    //     background-color: $color-primary;
    //     top: 0;
    //     left: 0;
    // }
    }

    &__row{
        display: flex;
        align-items: center;  
        &:not(:last-child) {
            margin-bottom: 10rem;
        }
        @media only screen and (max-width: $bp-large) {
            flex-wrap: wrap;
        }
    }
    &__details2 {
        @media only screen and (max-width: $bp-large) {
            flex: 0 0 100%;
            order: 1;
            margin-top: 5rem;
        }
        
    }

    &__img1 {
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-end;
        @media only screen and (max-width: $bp-large) {
            flex: 0 0 100%;
            justify-content: center;
        }

        img {
            height: 100%;
            width: 47rem;
            object-fit: cover;
            display: block ;  
            @media only screen and (max-width: $bp-large) {
                width: 100%;
            }
        }
    }
    &__img2 {
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-start;
        @media only screen and (max-width: $bp-large) {
            flex: 0 0 100%;
            justify-content: center;
        }
        img {
            height: 100%;
            width: 47rem;
            object-fit: cover;
            display: block ;  
            @media only screen and (max-width: $bp-large) {
                width: 100%;
            }  
        }
    }
    
}
.paragraph-med {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
// .description

.description3 {
    // border-top: 3px solid $color-primary;
    margin: 0 7rem;
    @media only screen and (max-width: $bp-med) {
        margin: 0 3rem;
    }
}